# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Data Science tools
- Examples: Arithmetic expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciKit-Learn
4. Matplotlib
5. SciPy

| Data Science Tools |
| ------------------ |
| Jupyter            |
| R Studio           |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Udit Mishra